@import '../scss/colors.scss';
$button-floating-background-hover: $primary-color;
$button-floating-background: $primary-color;
@import '../../node_modules/materialize-css/sass/materialize.scss';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '../scss/main.scss';

/* label color */
.input-field label,
input[type='text']:not(.browser-default):focus:not([readonly]) + label {
  color: #000;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type='text']:focus,
input[type='text']:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type='text'].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.page-container {
  width: 95%;
  margin: auto;
}

.mt-5 {
  margin-top: 1.25rem;
}

body {
  background-color: $secondary-color;
}
.kanban-heading {
  margin-top: 2.5rem;
}
#kanban-tables-collection {
  display: flex;
  overflow-x: auto;
  //   padding: 1rem;
  padding: 1rem auto;
  align-items: start;
  .kanban-table-container {
    margin: 2rem 2rem;
  }
  //   > .kanban-table-container:nth-child(1) {
  // margin-left: 1.5rem;
  //   }
  //   > .kanban-table-container:last-of-type {
  // margin-right: 7.5rem;
  //   }
}
.kanban-table-container {
  border-radius: 5px;
  padding: 1rem;
  margin: 0 1rem;
  min-width: 350px;
  max-width: 350px;
}
.task {
  cursor: grab;
  .task-text {
    font-size: 1.25rem;
    margin: 0;
  }
  .priority-wrapper {
    margin-top: 1rem;
  }
  margin: 0.5rem 1rem;
  width: calc(100% - 2rem);
  border-radius: 5px;
}
.task-description {
  margin-top: 1.25rem;
  color: #555;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
}
.table-id-text-input {
  display: none;
}

.brand-logo {
  height: 50px;
  margin: 8px 0;
  img {
    height: 100%;
    width: auto;
  }
}

// .hidden-drag-ghost {
//   visibility: hidden;
//   display: none;
// }
