<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/favicon.svg" />
    <title>Kanban Board</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper page-container">
          <a href="/" class="brand-logo">
            <img src="/assets/kanban-logo.svg" alt="" />
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down valign-wrapper">
            <li class="nav-item">
              <a
                href="#invite-people-modal"
                class="modal-trigger material-icons"
                >share
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="page-container">
        <div class="row kanban-heading valign-wrapper">
          <div class="col s9">
            <h4 class="row mt-5">
              Hi There 👋 ! Welcome to your <span id="project-heading"></span>!
            </h4>
          </div>
          <div class="col s3">
            <a
              class="btn btn-floating btn-large waves-effect waves-light right modal-trigger"
              id="add-table"
              href="#add-table-modal"
              ><i class="material-icons">add</i></a
            >
          </div>
        </div>

        <div class="row" id="kanban-tables-collection"></div>
      </div>
    </main>

    <form id="add-table-form">
      <div id="add-table-modal" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Add a Table</h4>

          <div class="row">
            <div class="input-field col s12">
              <input
                placeholder="Ex. Pipe Dream Projects"
                id="table-name-input"
                type="text"
                class="validate"
                required
              />
              <label for="table-name-input">New Table Name</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light">Add</button>
        </div>
      </div>
    </form>
    <div id="add-table-modals-container"></div>
    <section id="task-delete-section">
      <svg
        id="bigHalfCircle"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        width="100%"
        height="100"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <path d="M0 100 C40 0 60 0 100 100 Z" />
      </svg>
      <div id="drag-to-delete-wrapper">
        <h1>Drag here to delete</h1>
      </div>
    </section>

    <div id="invite-people-modal" class="modal">
      <div class="modal-content">
        <h4>Invite More Collaborators</h4>
        <div class="row">Copy Shareable Code</div>
        <span
          class="round grey lighten-3"
          onclick="(e)=>e.target.style.background='green'"
          style="
            padding: 1rem;
            border-radius: 10px;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
          "
        >
          <span id="emoji-id-container"></span>
          <i
            style="cursor: pointer; color: #888fdc; padding-left: 1rem"
            id="copy-code-button"
            class="material-icons"
            >content_copy</i
          >
        </span>
      </div>
      <div class="modal-footer">
        <button class="btn waves-effect waves-light modal-close">Close</button>
      </div>
    </div>

    <form id="enter-code-form">
      <div id="enter-code-modal" class="modal">
        <div class="modal-content">
          <h4>Enter Invite Code</h4>
          <div class="row">
            <div class="input-field col s12">
              <input
                placeholder="Emoji Invite Code"
                type="text"
                class="validate"
                id="emoji-code-input"
                required
              />
              <label for="emoji-code-input" class="active">Invite Code</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light">Go</button>
        </div>
      </div>
    </form>
  </body>
</html>
