<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/favicon.svg" />
    <title>Kanban</title>
  </head>
  <body>
    <section id="hero">
      <div class="page-container container" data-aos="fade-up">
        <div class="row">
          <img src="/assets/kanban-logo.svg" id="kanban-logo" alt="" />
        </div>
        <div
          class="row"
          id="hero-wrapper"
          style="margin-bottom: 0"
          data-aos="zoom-in"
        >
          <div class="col s12 l7 ml-0" id="hero-image-container">
            <img src="/assets/kanban-hero.svg" alt="" />
          </div>
          <div class="col s12 l4 offset-l1" id="hero-links-container">
            <div class="row">
              <div class="col s12">
                <h2 class="white-text mt-0">Project Management Made Simple</h2>
              </div>
            </div>
            <div class="row">
              <div class="col s12 hero-link-wrapper">
                <a class="btn-large modal-trigger" href="#start-board-modal"
                  >Start a Board</a
                >
              </div>
              <div class="col s12 hero-link-wrapper valign-wrapper">
                <a class="btn-large outline" href="/board">Join a Board</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <svg
        id="curve"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        width="100%"
        height="100"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <path d="M0 0 C 50 100 80 100 100 0 Z" />
      </svg>

      <div class="page-container container">
        <div class="row">
          <h3>A Project By</h3>
        </div>
        <div class="row">

          <div class="col s12 m4 my-3" data-aos="zoom-in">
            <div class="card">
              <div class="card-image">
                <img src="/assets/vatsal.jpg" />
              </div>
              <div class="card-content">
                <h5>Vatsal</h5>
              </div>
            </div>
          </div>
          <div class="col s12 m4 my-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="card">
              <div class="card-image">
                <img src="/assets/jiya.jpg" />
              </div>
              <div class="card-content">
                <h5>Jiya</h5>
              </div>
            </div>
          </div>
          <div class="col s12 m4 my-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="card">
              <div class="card-image">
                <img src="/assets/vaibhav.jpg" />
              </div>
              <div class="card-content">
                <h5>Vaibhav</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="demo-section" style="padding: 5rem 0">
      <div class="page-container container demo-features-container">
        <div class="row" data-aos="fade-up">
          <div class="col s12 m7 demo-image-container">
            <img src="/assets/image_add_task.png" alt="" />
          </div>
          <div class="col s12 m4 offset-m1">
            <h3>Add Your Tasks</h3>
            <p>
              Stay on top of things by putting all the tasks on a board. Add any
              number of tasks and tables to fit your own needs
            </p>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col s12 m7 demo-image-container">
            <img src="/assets/image_board.png" alt="" />
          </div>
          <div class="col s12 m4 offset-m1">
            <h3>Easily Drag & Drop</h3>
            <p>
              Synchronize your work with your teammates real-time all across the
              globe while working from home so that you can stay ahead of your
              competitors.
            </p>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col s12 m7 demo-image-container">
            <img src="/assets/image_invite.png" alt="" />
          </div>
          <div class="col s12 m4 offset-m1">
            <h3>Collaboration is Key</h3>
            <p>
              With a new and user friendly method to share projects with emojis,
              your teammates will be on board the kanban manager in no time at
              all!
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer class="page-footer" style="padding: 0">
      <div class="footer-copyright" style="padding: 2rem 0">
        <div class="container">
          © 2020 Made with ♥
          <a
            class="grey-text text-lighten-4 right"
            href="https://github.com/sudo-vaibhav/kanban-ui"
            target="_blank"
            >Github</a
          >
        </div>
      </div>
    </footer>
    <form id="start-board-form">
      <div id="start-board-modal" class="modal">
        <div class="modal-content">
          <h4>Start a Board</h4>

          <div class="row">
            <div class="input-field col s12">
              <input
                id="board-name-input"
                type="text"
                required
                placeholder="Ex. HCI Project"
              />
              <label for="table-name-input" class="active"
                >New Board Name</label
              >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light">Add</button>
        </div>
      </div>
    </form>
  </body>
</html>
