<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanban</title>
  </head>
  <body>
    <section id="hero">
      <div class="page-container container">
        <div class="row">
          <img src="/assets/kanban-logo.svg" id="kanban-logo" alt="" />
        </div>
        <div class="row" id="hero-wrapper">
          <div class="col s12 l7 ml-0" id="hero-image-container">
            <img src="/assets/kanban-hero.svg" alt="" />
          </div>
          <div class="col s12 l4 offset-l1" id="hero-links-container">
            <div class="row">
              <div class="col s12">
                <h2 class="white-text mt-0">Project Management Made Simple</h2>
              </div>
            </div>
            <div class="row">
              <div class="col s12 hero-link-wrapper">
                <a class="btn-large" href="/board">Start a Board</a>
              </div>
              <div class="col s12 hero-link-wrapper valign-wrapper">
                <a class="btn-large outline" href="#team">Meet the Team</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <svg
        id="curveDownColor"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        width="100%"
        height="100"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <path d="M0 0 C 50 100 80 100 100 0 Z" />
      </svg>

      <div class="page-container container">
        <div class="row">
          <h3>A Project By</h3>
        </div>
        <div class="row">
          <div class="col s12 m3 my-3">
            <div class="card">
              <div class="card-image">
                <img src="/assets/deepesh.jpeg" />
                <!-- <span class="card-title">Card Title</span> -->
              </div>
              <div class="card-content">
                <h5>Deepesh</h5>
              </div>
            </div>
          </div>
          <div class="col s12 m3 my-3">
            <div class="card">
              <div class="card-image">
                <img src="/assets/ishita.png" />
                <!-- <span class="card-title">Card Title</span> -->
              </div>
              <div class="card-content">
                <h5>Ishita</h5>
              </div>
            </div>
          </div>
          <div class="col s12 m3 my-3">
            <div class="card">
              <div class="card-image">
                <img src="/assets/aditya.jpeg" />
                <!-- <span class="card-title">Card Title</span> -->
              </div>
              <div class="card-content">
                <h5>Aditya</h5>
              </div>
            </div>
          </div>
          <div class="col s12 m3 my-3">
            <div class="card">
              <div class="card-image">
                <img src="/assets/vaibhav.jpg" />
                <!-- <span class="card-title">Card Title</span> -->
              </div>
              <div class="card-content">
                <h5>Vaibhav</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
